.container.skills-page {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin-top: -30px;
}
.text{
  width: 60%;
}
.a1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(550px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: -450px;
  margin-top: 100px;
}

.topic {
  background-color: #1E1E24; /* Slightly lighter than the background */
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  text-align: left;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.7); /* Optional shadow for depth */
}

.topic h1 {
  color: yellow;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 400;
  font-family: Coolvetica;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 10px;
}

.buttons button {
  background-color: #333; /* Dark button background */
  color: #ffffff; /* White text */
  padding: 10px 15px;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
  background-color: #555; /* Slightly lighter on hover */
  transform: translateY(-3px); /* Slight upward movement on hover */
}

.buttons button:active {
  transform: translateY(0); /* Reset movement on click */
}

@media (max-width: 960px) {
  .container {
    position: relative;
    width: 90%;
    margin-top: 60px;
    transform: none;
    padding: 10px;
    margin-left: -10px;
    padding-bottom: 58px;
    bottom: auto;
    overflow-x: hidden;
  }
  tags,
  .skills-page h1:before{
    display: flex;
    position: relative;
    margin-left: 10px;
    top: 0;
    overflow-x: hidden;
  }

  .skills-page {
    .text-zone {
      margin-top: 15px;
      margin-left: 70px;
    }
  }
  .topic{
    width: 60%;
  }

  .a1 {
    grid-template-columns: repeat(1, minmax(450px, 1fr));
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
    // width: 40%;
  }
  .buttons{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    // width: 90%;
  }

  .text{
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .container.skills-page{
    // width: 20%;
    // right: -130px;
    overflow-x: hidden;
  }
  .buttons{
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
  .topic{
    width: 70%;
  }
  .text-zone{
    overflow-x: hidden;
  }
}